@CHARSET "UTF-8";
@font-face{
	font-family: 'NanumGothic'; 
	src: url(./font/NanumGothic.eot);
	src: url(./font/NanumGothic.woff) format("woff"),
		 url(./font/NanumGothic.eot?#iefix)	format('embedded-opentype');
}
body{
	text-align: center;
	font-size: 16px;
	font-family: 'NanumGothic', 'sans-serif';
}

table{
	margin: 0 auto;
	border-collapse: collapse;
}

table td, table th { padding: 5px 10px; }

.btn-fill, .btn-empty {
	border: 1px solid #3367d6;
	padding: 3px 10px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
}

.btn-fill {
	background-color: #3367d6;
	color: #ffffff;
}

.btn-empty {
	background-color: #ffffff;
	color: #3367d6;
}

.btn-fill:hover, .btn-empty:hover { text-decoration: none; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

a:hover { text-decoration: underline; cursor: pointer; }

input[type=text],input[type=password] {
	height: 22px;
	padding-left: 5px;
} 







