<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice.mapper">
<insert id="reply">
<!-- 
1. 이미 답글이 있다면 원본과 root가 같고 원본보다 step이 큰 답글은
   step 은 step + 1 로 변경
2. 저장하는 모든 답글은 step은 원본step + 1, indent는 원본indent+1    

태그로 인식되는 것을 문자로 인식되도록 처리: <![CDATA[  ]]>  
 -->
{ 
call declare begin
	update notice set step=step+1
	where root=#{root} and step <![CDATA[ > ]]> #{step};
	
	insert into notice(id, writer, title, content, filename, filepath,
						root, step, indent)
	values (seq_notice.nextval, #{writer}, #{title}, #{content},
		#{filename}, #{filepath}, #{root}, #{step}+1, #{indent}+1);
end
} 
</insert>

<delete id="delete">
delete from notice where id=#{id}
</delete>

<update id="update">
update notice set title=#{title}, content=#{content}, 
					filepath=#{filepath}, filename=#{filename}
where id = #{id}					
</update>

<update id="read">
update notice set readcnt = readcnt+1 where id=#{id}
</update>

<select id="select" resultType="notice.vo.NoticeVO">
select * from notice where id=#{id}
</select>

<sql id="search">
	<if test="search=='all'">
		where title like '%' || #{keyword} || '%' 
		or content like '%' || #{keyword} || '%'
		or writer like '%' || #{keyword} || '%'
	</if>
	<if test="search=='writer' or search=='title' or search=='content'">
		where ${search} like '%' || #{keyword} || '%'
	</if>
</sql>

<select id="list" resultType="notice.vo.NoticeVO">
select * from 
(select rownum no, n.* from
(select * from notice <include refid="search"/> order by root, step desc) n
order by no desc)
where no between #{beginList} and #{endList}
</select>

<select id="total" resultType="integer">
select count(*) from notice <include refid="search"/>
</select>


<insert id="insert">
<!-- 트리거를 비활성화시키게 되면 id에 시퀀스값을 적용시키도록 한다. -->
insert into notice(id, root, writer, title, content, filename, filepath)
values (seq_notice.nextval, seq_notice.currval, #{writer}, #{title}, #{content}, #{filename}, #{filepath})
</insert>

</mapper>