<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.mapper">

<sql id="search">
<if test="search=='all'">
	where title like '%'|| #{keyword} ||'%'
	or content like '%'|| #{keyword} ||'%'
	or userid in (select userid from member 
					where name like '%'|| #{keyword} ||'%' )
</if>
<if test="search=='title' or search=='content'">
	where ${search} like '%'|| #{keyword} ||'%'
</if>
<if test="search=='writer'">
	where userid in (select userid from member 
					where name like '%'|| #{keyword} ||'%' ) 
</if>
</sql>

<select id="total" resultType="Integer">
select count(*) from board <include refid="search"/>
</select>

<select id="list" resultType="board.vo.BoardVO">
select * from 
(select rownum no, b.* from 
	(select * from board <include refid="search"/> order by id) b 
	order by no desc) b
where no between #{beginList} and #{endList}	
</select>

<insert id="insert">
insert into board (userid, title, content, filename, filepath)
values ( #{userid}, #{title}, #{content}, #{filename}, #{filepath} )
</insert> 

<select id="select" resultType="board.vo.BoardVO">
select b.*, (select name from member where userid=b.userid) name 
from board b where id =#{id}
</select>

</mapper>
